* {
  font-family: "Dancing Script", cursive;
}

body {
  background: #333;
  color: #fff;
}

/* .fa-linkedin {
  color: #fff;
} */

.navbar {
  border-bottom: #fff 3px solid;
  opacity: 1;
}

#home-section {
  background: url(/img/home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  min-height: 700px;
}

#home-section h1 {
  padding-top: 100px;
}

#home-section .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 700px;
  background: rgba(0, 0, 0, 0.7);
}

#home-section .home-inner {
  padding-top: 150px;
}

#home-section .card-form {
  opacity: 0.8;
}

#home-section .fas,
#life-section .fas {
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}

#meet-section .fas,
#share-section .fas {
  color: #333;
  padding: 5px;
  border-radius: 5px;
}

.light-blue {
  background-color: #3292a6;
}

.modal-body {
  text-align: center;
}

.modal-header {
  text-align: center;
}

.pulsate {
  -webkit-animation: pulsate 3s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.2;
}

@-webkit-keyframes pulsate {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
